
*{
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing:border-box;
}
.container-dim{
    width:100%;
}

.logo-container{
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-block;
    /* margin-left: 15px; */
    /* border: 1px solid red; */
    float: left;
}
.logo{
    width:50px;
    float:left;
}
/* #row-top-margin{
    margin-top:0px;
    margin-right:0;
    margin-left:0;

} */
.college_name{
    float:left;
    font-family: 'Times New Roman';
    align-content: center;
    margin-bottom:0;
    margin-top:1.7em;
    padding-right:1.6em;
    padding-left:10px;
}
.college-name-text{
    line-height:0;
    font-weight:normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing:normal;
    margin-top:0;
    margin-bottom:0;
    text-shadow:0 3px 6px rgba(0,0,0,0.16);
}
 .dept-name{
    float:left;
    padding-left:1.5em;
    margin-top:1.1em;
    line-height:2em;
    border-left:2px solid grey;
}
.dept-of{
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    text-shadow:0 3px 6px rgba(0,0,0,0.16);
    margin-bottom: 0px;

}
.dept-name-text{
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    /* font-weight:bold; */
    font-variant: small-caps;
    text-shadow:0 3px 6px rgba(0,0,0,0.16);
    margin-top: 0;

}
.search-box{
    float:right;
    margin-right:2em;
}

.search-box input[type=text]{
    margin-top:2em;
    border:none;
    border-bottom: 1px solid black;
}
.faculty-header{
    border-top:3px double black;
    border-bottom:3px double black;
    margin-left:3%;
    margin-right:3%;
    padding-top:0px;
    padding-bottom:0px;
}
.faculty-header h4{
    text-align: center;
    font-family: 'Oswald',sans-serif;
    font-weight:normal;
    letter-spacing: normal;
    font-style: normal;
    line-height:normal;
    font-size:36px;
    margin-top:0px;
    margin-bottom:0px;
}
.desc{
    overflow-y: scroll;
    background-color: aqua;
    height:500px;
    width:100%;
    margin-top:2%;
    padding-left:0px;
    padding-right:0px;
}
.height{
    height:600px;
    border:1px solid red;

}

@media screen and (max-width:920px){
    .search-box{
        display:none;
    }
}

@media screen and (max-width:786px) {
    .college_name{
        display:none;
    }
    .faculty-header h4{
        font-size:32px;

    }
    .dept-name{
        margin-left:0.3em;
    }
}


@media screen and (max-width:530px){

    .dept-name{
        padding-left:0.8em;
        border: none;

    }.dept-of{
        font-size:12px;

    }
    .dept-name-text{
        font-size:20px;
    }

    .faculty-header h4{
        font-size: 32px;
    }
}
@media screen and (max-width:420px){

    .dept-name{
        pading-left:0.4em;
        margin-top: 5px;
        border: none;

    }
    .dept-of{
        font-size:12px;

    }
    .dept-name-text{
        font-size:18px;
    }
    .logo{
        width:32px;
    }
    .logo-container{
        padding: 6px;
    }

    .faculty-header h4{
        font-size: 24px;
    }
}

@media screen and (max-width:355px){

    .dept-name{
        padding-left:0.4em;

    }
    .dept-of{
        font-size:10px;

    }
    .dept-name-text{
        font-size:15px;
    }
    .logo{
        width:30px;
    }
    .logo-container{
        padding: 2px;
    }
}

body{
  background-color: #F2F2F2;
  height: auto;
}

.foot{
    background-color: #EBF2F3;
    /* height: 35vh; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}


.footer{
    /* height: 35vh; */
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 12px;

}

.row-footer-1{
    margin-left: 0;
    margin-right: 0;
    /* height: 27vh; */
}

.nested-footer-2{
    max-width: 800px;
    /* height: 8vh; */
    margin-left: auto;
    margin-right: auto;
}

.row-footer-2{
    margin-left: 0;
    margin-right: 0;
    /* height: 8vh; */
    /* border: 1px solid orange; */
}

@media (max-width: 991px){
    .hidden-sm-md{
        display: none !important;
    }
}

.col-footer-1{
    /* border:1px solid blue; */
    padding: 1.5em;
    padding-bottom: 12px;
}

.col-footer-2{
    /* border: 1px solid red; */
    padding-bottom: 1vh;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; /* This is the aspect ratio */
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


.pp{
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight:500;


}

.social_icon{
    padding-top: 25px;
}

.icons{
    padding-right: 5px;
}


.Rectangle-5 {
    max-width: 150px;
    height: 30px;
    border-radius: 16px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #000000;
    text-align: center;
    min-width: 130px;
    margin-bottom: 20px;
}

@media (min-width:768px) and (max-width:1080px) {
    .padding_remove {
        padding-left: 0 !important;
        margin-left: 0!important;
    }
}


.col-footer-2 a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid gray;

}
